<!DOCTYPE html>
<html>
<head>
	<title>To Shuttle Or Not To Shuttle</title>
	<style type="text/css">
	body {
		font-family: arial;
	}
	ul {
		left: 50%;
		list-style-type: none;
		padding: 10px;
		position: absolute;
		white-space: nowrap;
		width: auto;
	}
	li {
		left: -50%;
		margin: auto;
		padding: 13px;
		position: relative;
		text-align: center;
	}
	h1,h2 {
		text-align: center;
	}
	.Oakland {
		background-color: #33CED1;
	}
	.Fremont {
		background-color: #92E2A8;
	}
	</style>
</head>
<body>
	<h1>To Shuttle Or Not To Shuttle</h1>
	<h2>Updated {{minutesAgo}} min ago</h2>
	<ul>
	{% for route in routes %}
		<li class="{{route[1]}}">{{route[0]}} ({{route[1]}}) - {{route[2]}} - {{route[3]}} min, {% if route[4] > 0 %}+{% endif %}{{route[4]}} min. ETA: {{route[5]}}</li>
	{% endfor %}
	</ul>
</body>
</html>